/*
 * This is a demo of how you can create custom theme for Trilium. You can activate it by going
 * into options (top-right corner) in first tab "Appearance".
 *
 * You can read some details on theming here: http://github.com/zadam/trilium/wiki/Themes
 */


@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/custom/fonts/fira-sans.woff2') format('woff2');
}

:root {
    --bg: #1F2937;
    --bg-accent: #111827;
    --main-text: #E5E7EB;
    --muted-text: #D1D5DB;
    --accent-1: #E5E7EB;
    --accent-2: #C4B5FD;
    --accent-3: #A5B4FC;
    --accent-4: #6EE7B7;
    --btn-bg: #1F2937;

    --main-font-family: 'Fira Sans' !important;
    --main-font-size: normal;
    --tree-font-family: inherit;
    --tree-font-size: normal;
    --detail-font-family: inherit;
    --detail-font-size: normal;
    --detail-text-font-family: 'Fira Sans' !important;

    --main-background-color: var(--bg);
    --main-text-color: var(--main-text);
    --main-border-color: var(--muted-text);
    --accented-background-color: var(--bg-accent);
    --more-accented-background-color: var(--btn-bg);
    --header-background-color: var(--bg-accent);
    --button-background-color: var(--btn-bg);
    --button-disabled-background-color: var(--bg);
    --button-border-color: var(--accent-3);
    --button-text-color: var(--accent-4);
    --button-border-radius: 5px;
    --muted-text-color: var(--muted-text);
    --input-text-color: var(--main-text);
    --input-background-color: var(--bg);
    --modal-background-color: var(--bg);
    --hover-item-text-color: var(--bg-accent);
    --hover-item-background-color: var(--accent-3);
    --active-item-text-color: var(--bg-accent);
    --active-item-background-color: var(--accent-2);
    --menu-text-color: var(--accent-4);
    --menu-background-color: var(--bg-accent);



    --left-pane-background-color: var(--bg-accent);
    --left-pane-text-color: var(--main-text);

    --launcher-pane-background-color: var(--bg);
    --launcher-pane-text-color: var(--main-text);
}

a {
    color: var(--accent-4);
}

a:hover {
    color: var(--accent-2);
}

#note-detail-text {
    font-size: 75%;
}

.CodeMirror {
    filter: invert(100%) hue-rotate(180deg);
}